body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}
.container {
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 8px;
}
button {
    font-size: 15px;
    border: solid;
    border-radius: 8px;
    font: inherit;
    border-width: 2px;
}
.calculatorhead, .calculatorbody {
    border: solid;
    border-radius: 10px;
    margin: 20px 20px;
}
.calculatorhead {
    width: 800px;
    height: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
}
.calculatorbody {
    height: 375px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 15px;
    gap: 10px;
    max-width: 800px;
}
.calculator {
    border: solid;
    border-radius: 10px;
}
#addition {
    grid-row-start: span 2;
}
#erase, #clear {
    grid-column-start: span 2;
}
#showequation {
    font-size: 33px;
}
#showsolution {
    font-size: 43px;
}
button:hover {
    box-shadow: 3px 2px 8px;
}